@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
/* Things I stole from TITS */
:root {
  --textColor: #FFF;
  --backgroundColor: #3D5174;
  --foregroundColorA: #333E52;
  --foregroundColorB: #2C3649;
  --highlightColor: #8D31B0;
  --paleColor: #53677B;
  --focusColor: #00F5EF;
  --paleFocusColor: #64889D;
  --lightBackgroundColor: #647490;
  --holoLightColor: #A6C6FF;
  --shadowColor: #202735;
  --shadowColorSemiTransparent: rgba(32, 39, 53, 0.2);
  --lightColor: #FFF;
  --lightColorSemiTransparent: rgba(255, 255, 255, 0.2);
  --hyperlinkColor: #D982EF;
  --activeHyperlinkColor: #A1376F;
  --positiveColor: #0CD71C;
  --negativeColor: #FF0000;
  --cautionColor: #E8C815;
  --passiveColor: #D982EF;
  --lowPriorityColor: #B793C4;
  --debugColor: #FFA90A;
  --shieldDamageColor: #00CCFF;
  --shieldHealColor: #CAF3FF;
  --hpDamageColor: #00CC2F;
  --hpHealColor: #00FF16;
  --lustDamageColor: #FF00F0;
  --lustHealColor: #FFADC4;
  --energyDamageColor: #FFD207;
  --energyHealColor: #FFF3BE;
}

.statusEffectDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  line-height: 0;
  position: relative;
  width: 100%;
  height: 28.5%;
  min-height: 2em;
  max-height: 2.825em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin: 0 -0.5em -0.2em -0.5em;
  flex: 1;
  z-index: 1;
  overflow: auto;
  box-shadow: inset 0 0 0 0 var(--focusColor);
}
.statusEffectBlock {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  background-color: var(--backgroundColor);
  border-radius: 0.3125em;
  margin: 1%;
  fill: var(--textColor);
  color: var(--textColor);
  overflow: hidden;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scrollbar-color: var(--foregroundColorB);
  scrollbar-width: thin;
  overflow-y: scroll;
}

body {
  padding-top: 20px;
  font: 14px/1 'Open Sans', sans-serif;
  color: var(--textColor);
  background: var(--foregroundColorB);
}

#titleheader {
  float: right;
  font-size: xx-large;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  position: relative;
  right: 5vw;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 95vw;
  padding: 25px;
  margin: 0 auto;
  background: var(--backgroundColor);
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 5px solid var(--highlightColor);
}

.HeaderTabs {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: var(--textColor);
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\1F4C8';
}

label[for*='2']:before {
  content: '\f17d';
}

label[for*='3']:before {
  content: '\2764';
}

label[for*='4']:before {
  content: '\2694';
}

label[for*='5']:before {
  content: '\f1a9';
}

label[for*='6']:before {
  content: '\2691';
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: var(--textColor);
  border: 0px solid var(--highlightColor);
  border-top: 0px solid orange;
  border-bottom: 1px solid var(--highlightColor);
  background: var(--paleColor);
}

/* My Additions */
summary {
  font: 25px/1 'Open Sans', sans-serif;
  font-weight: bold;
  color: var(--textColor);
}

.gridFourAcross {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.gridThreeAcross {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.gridTwoAcross {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.statusGrid{
  position: relative;
  margin: 0.1vw;
  display:block;
  text-align: left;;
  background-color: var(--paleColor);
  min-height: 300px;
  max-width: 23vw;
}

.statusGrid h2 {
  margin: 0;
  padding: 10px;
  color: white;
  background-color: var(--paleColor);
}

.enemyGrid{
  position: relative;
  margin: 2%;
  display:block;
  text-align: left;;
  background-color: var(--paleColor);
  min-height: 300px;
}

.enemyGrid h2 {
  margin: 0;
  padding: 10px;
  color: white;
  background-color: var(--paleColor);
}

.gridtext {
  width: 50%;
}

.statusBoxHeader {
  position: relative;
  background-color: var(--backgroundColor);
  display: flex;
}

.statusEffectDescription {
  height: 70%;
}

.statusEffectHeaderText {
  font-size: 25px;
  font-weight: bolder;
}

.widthsideimg {
  float: right;
  width: 100%;
  max-width: 50%;
  max-height: 120%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--paleColor);
}

.sideimg {
  float: right;
  height: 100%;
  max-width: 50%;
  max-height: 120%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--paleColor);
}

.sideimglayer {
  opacity: 0;
  }
  .sideimglayer:hover {
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
  }

.areaHeader {
  font-size: 50px;
  border-bottom: 1px solid var(--highlightColor);
}

.areaZoneMaps {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.areaZoneMapImg {
  padding: 5px;
  width: 25%;
  margin-top: 10px;
}

.link {
  font-family: 'Times New Roman', Times, serif;
}
.link:link {
  color: white;
}
.link:visited {
  color: white;
}
.link:hover {
  color: white;
  transform: scale(1.3)
}
.link:active {
  color: white;
}

.characterWikiLink {
  float: right;
  right: 0;
  object-fit: cover;
  position: absolute;
  z-index: 10;
  font-family: 'Times New Roman', Times, serif;
}
.characterWikiLink:link {
  color: white;
}
.characterWikiLink:visited {
  color: white;
}
.characterWikiLink:hover {
  color: white;
  transform: scale(1.3)
}
.characterWikiLink:active {
  color: white;
}

.WikiLink {
  font-family: 'Times New Roman', Times, serif;
}
.WikiLink:link {
  color: white;
}
.WikiLink:visited {
  color: white;
}
.WikiLink:hover {
  color: white;
  transform: scale(1.3)
}
.WikiLink:active {
  color: white;
}

svg{
  margin-top: 5%;
  margin-left: 5%;
  max-width: 90%;
  fill: var(--lowPriorityColor)
}

.halfBoxLeft {
 width:50%;
 float: left;
 padding: 5px;
}

.halfBoxRight {
  width:50%;
  float: right;
  padding: 5px;
}

.halfBoxTop {
 padding: 5px;
}

.halfBoxBottom {
  padding: 5px;
  bottom: 0;
  position: relative;
}


.codePadding {
  padding: 5px;
}


/*
.backimg:hover {
  opacity: 0;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}
*/

p {
  line-height: 1em;
  padding: 0;
  margin: 0.5em;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--foregroundColorB); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlightColor); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.divimg {
  float: right;
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  background-color: var(--paleColor);
  right: 0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
  display: block;
}



@media screen and (max-width: 1500px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
  .flexgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

@media screen and (max-width: 1100px) {
  .flexgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  label {
    padding: 15px;
  }

} 

@media screen and (max-width: 600px) {
  label {
    padding: 5px;
  }
  #titleheader {
    float: right;
    font-size: xx-large;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
    position: relative;
    right: 5vw;
  }

}
